{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <h1 style="text-align: center; font-weight: bold; padding-top: 50px; padding-bottom: 50px;">WEATHER API DETAIL</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form id="user_form" action="/submit-form" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input type="email" class="form-control" name="email" id="inputPassword4"
                                placeholder="Nhập email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone number</label>
                        <input type="text" class="form-control" name="phone" id="phone_number" placeholder="Nhập sđt">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Địa chỉ" name="address">
                    </div>
                    <button type="submit" class="btn btn-primary">Gửi form</button>
                    <a class="btn btn-outline-primary" href='/submit-form'>Xem danh sách người dùng</a>
                </form>
            </div>

        </div>
    </div>

</body>


{% endblock %}