<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/form" method="POST">
  <label for="firstname">First Name:</label>
  <input type="text" id="firstname" name="fname" placeholder="firstname">
  <label for="lastname">Last Name:</label>
  <input type="text" id="lastname" name="lname" placeholder="lastname">
  <label for="age">Age:</label>
  <input type="number" id="age" name="age" placeholder="age">
  <!-- <button type="submit">Submit</button>
  <button type="submit">Go to User List</button> -->
  <input type="submit" value="Submit" name="Submit User"/>
  <input type="submit" value="User List" name="Go to User List" />
</form>

</body>
</html>