{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- <h1 class="mb-4">{{ data }}</h1> -->
    <br />
    <h1>User Data</h1>
    <br />
    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Date of birth</th>
              </tr>
            </thead>
            <tbody>
            {% for user in data %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td>{{user.dob}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
