{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- <h1 class="mb-4">{{ data }}</h1> -->
    <!-- {% for weather in data %}

    <pre><code>{{weather["main"]}}</code></pre>
    <pre><code>{{weather["main"]["temp"]}}</code></pre>

    {% endfor %} -->
    <table class="table table-striped">
        <tr class="table-danger">
            <th>no.</th>
            <th>temp</th>
            <th>temp_min</th>
            <th>temp_max</th>
            <th>pressure</th>
            <th>sea_level</th>
            <th>grnd_level</th>
            <th>humidity</th>
            <th>temp_kf</th>
        </tr>
        {% for weather in data %}
        <tr>
            <td class="table-primary">{{loop.index}}</td>
            <td class="table-secondary">{{weather["main"]["temp"]}}</td>
            <td class="table-success">{{weather["main"]["temp_min"]}}</td>
            <td class="table-danger">{{weather["main"]["temp_max"]}}</td>
            <td class="table-warning">{{weather["main"]["pressure"]}}</td>
            <td class="table-info">{{weather["main"]["sea_level"]}}</td>
            <td class="table-light">{{weather["main"]["grnd_level"]}}</td>
            <td class="table-dark">{{weather["main"]["humidity"]}}</td>
            <td>{{weather["main"]["temp_kf"]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
